{% extends "webinfo/header.html" %}

{% load staticfiles %}
	
	
{% block content %}

	
 <div class="container-fluid bg-3 text-center">
  <h3><big><em> What we offer</em></big></h3>
  <div class="row">
    <div class="col-sm-4">
	<p class="bg-success">»Kidies chair covers</p>
	<p class="bg-success">» Kidies chairs</p>
	<p class="bg-success">»Kidies metal tables to fit 10 kids</p>
	<p class="bg-success">» Adults tables</p>
	<p class="bg-success">» Gazebos</p>
	<p class="bg-success">» Kidies jumbo tables</p>
	<p class="bg-success">» Tea cups &a saucers hiring for Adults</p>
	<p class="bg-success">» glass tumblers hiring</p>
	<p class="bg-success">» Kids Party games</p>
	<p class="bg-success">»Kidies chair covers</p>
	<p class="bg-success">»Air filled balloons</p>
	<p class="bg-success">» pinata</p>
 	
      <!--<img src="{% static 'webdesign/img/goodwinlegdrapes.jpg' %}" alt="Image"> -->
	  <img src="{% static 'webdesign/img/goodwinlegdrapes.jpg' %}" class="img-circle person" alt="Random Name">
    </div>
    <div class="col-sm-4">
<p class="bg-info">¨We also charge themed decoration per setting</p>
   <p class="bg-info">1 -10 Kids</p>
 <p class="bg-info">21-30 Kids</p>
 <p class="bg-info">16-20 Kids</p>
 <p class="bg-info">¨THEMED  DECORATION PER SETTING INCLUDES</p>
<p class="bg-info">Gazebo with drapping</p>
<p class="bg-info">Chairs with chair covers + Sashes</p>
<p class="bg-info">Table with table cloths</p>
<p class="bg-info">Air filled balloons with ribbons</p>
<p class="bg-info">Happy birthday bunner or a Backdrop (if available)</p>
<p class="bg-info">»Themed paper cups, plates,& hats</p>
<p class="bg-info">» Themed paper plates + cups</p>
<p class="bg-info">»Full kids' craft</p>
	<p class="bg-info">» Half kids craft</p>
<p class="bg-info">Themed Cups, Plates, Serviettes & blowouts or matching colours</p>

<img src="{% static 'webdesign/img/disney princess back-1.jpg' %}" class="img-circle person" alt="Random Name">
     
    </div>
    <div class="col-sm-4">
	<p class="bg-success">»Kidies chair covers</p>
		<p class="bg-success"> »Kidies table cloths</p>
			<p class="bg-success">» Adults chair covers...</p>
  	<p class="bg-success">»Adult table cloths</p>
  	<p class="bg-success">»Plastic themed table cloths» Adults chair covers...</p>
  	<p class="bg-success">»Unthemed plastic table cloths</p>
  	<p class="bg-success">»Drapping and setting</p>
		<p class="bg-success">»Backdrop /happy birthday bunner</p>
		<p class="bg-success">»Centre piece</p>
		<p class="bg-success">»Hiring of Draping</p>
		<p class="bg-success">»Plastic plates + cups</p>
		<p class="bg-success">»Themed serviettes</p>
  <p class="bg-success">»Blowouts</p>
  <p class="bg-success"> »Themed blowouts   </p>
  <p class="bg-success">» Standard Party Packs</p>
  <p class="bg-succces">» Party Packs with a toy</p>
  <p class="bg-success">» Themed party packs</p>
  <p class="bg-success"> etc...</p>

<img src="{% static 'webdesign/img/IMG_0923.jpg' %}" class="img-circle person" alt="Random Name">  </div>
  </div>
</div>

		<div class="row">
		  <div class="col-sm-2">
		  <br>

		  <br>

		
		
   
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">
		  
			<div class='container-fluid'>
			<br><br>
			
			</div>
		  </div>
		</div> 
	</div>
<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	<
</body>
</html>
{% endblock %}
