{% extends "webinfo/header.html" %}

{% load staticfiles %}
	
	
{% block content %}

<div class="container text-center">  
  
  <div class="alert alert-info" role="alert"><big><b> Decoration setup and Hirings!!!</b></big> </div>
  
  <div class="row">
    <div class="col-sm-4">
      <img src="{% static 'webdesign/img/IMG_03072.jpg' %}" class="img-responsive" style="width:100%" alt="Image">
	        <p></p> 
	  <div class="alert alert-success" role="alert"><big>From adult themed decorations to weddings...</big></div>
     
    </div>
    <div class="col-sm-4"> 

      <img src="{% static 'webdesign/img/hello kity.jpg' %}" class="img-responsive" style="width:100%" alt="Image">
	  
      <p></p>   
<div class="alert alert-success" role="alert"><big> From baby showers to teenages party planning...</big></div>	  
    </div>
    <div class="col-sm-4">
      <div class="well">
	  
       <div class="alert alert-info" role="alert"><big>We deliver the best services.</big></div>
	   <div class="alert alert-info" role="alert"><big>Your wish is our priority.</big></div>
	   
	   
      </div>
      <div class="well">
	  <p class="alert alert-success" role="alert"><big>We are based in Johannsburg. Midrand, Ceturion and Pretiora.</big></p>	
<p></p>	  
	    
   
      </div>
    </div>
  </div>
</div><br>

<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	<
</body>
</html>

{% endblock %}
